* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body,
.container,
.container > header,
.inputs.container,
.pesquisar > div,
#tarefas div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
body {
  background-color: black;
}
.container {
  background-color: white;
  padding: 1.5rem;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 0.8rem;
  width: 30rem;
}
.conteudo {
  width: 100%;
}
header {
  color: rgb(60, 60, 60);
  border-bottom: 1px solid rgb(219, 219, 219);
  width: 100%;
  padding: 0 0 1.2rem;
}
.inputs,
#tarefas {
  border-bottom: 1px solid rgb(219, 219, 219);
  padding: 1.2rem 0.6rem;
}
.pesquisar > div {
  flex-direction: row;
  justify-content: space-between;
}
.div-pesquisa {
  border-right: 2px solid rgb(219, 219, 219);
  padding-right: 5%;
}
.label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.input,
#filtro {
  width: 13rem;
  padding: 0.4rem 0.5rem;
  outline: none;
  border: 2px solid rgb(219, 219, 219);
  color: rgb(60, 60, 60);
}
.input[id="pesquisa"] {
  width: 12rem;
}
#filtro {
  width: 8rem;
}
.input,
.icons,
#filtro,
.cancelar {
  border-radius: 0.3rem;
}
.icons,
.cancelar {
  border: #102f5e 2px solid;
  color: #102f5e;
  padding: 0.34rem 0.6rem;
  margin-left: 0.3rem;
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
}
.icons:hover,
.cancelar:hover {
  color: white;
  background-color: #102f5e;
}
#tarefas,
#tarefas > div {
  border-bottom: 1px solid rgb(219, 219, 219);
  padding: 1.2rem 0.6rem;
  transition: 0.3s;
}
#tarefas > div,
#tarefas > div div {
  flex-direction: row;
  justify-content: space-between;
}
.concluido {
  background-color: #395169;
  color: white;
  transition: 0.3s;
}
.concluido p {
  text-decoration: line-through;
  transition: 0.3s;
}
.concluido .icons {
  background-color: white;
}
.concluido .icons:hover {
  background-color: #102f5e;
}
.cancelar {
  background-color: white;
  color: rgb(70, 70, 70);
  margin-left: 0;
  margin-top: 1rem;
}