* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(23, 161, 30);
}
header h1,
p {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-size: 25px;
}
main {
  width: 100%;
}
input {
  width: 70%;
  height: 35px;
  appearance: none;
  border: none;
  outline: none;
  padding-left: 10px;
}

button {
  height: 35px;
  width: 55px;
  background-color: rgb(6, 54, 9);
  border: none;
  color: white;
}
button:hover {
  opacity: 0.6;
}
button,
input {
  font-size: 20px;
}
#caixas {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.caixa {
  background-color: rgb(16, 151, 175);
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  border: rgb(35, 35, 168) solid 1px;
  margin-top: 10px;
  border-radius: 25px;
}
.caixa p {
  padding-top: 10px;
}
.hidden {
  display: none;
}
.verde {
  background-color: rgb(14, 102, 18);
}
.x {
  width: 2rem;
}
