* {
    margin: 0;
    padding: 0;
}
div {
    display: flex;
    justify-content: center;
}
#números p {
    margin-right: 0.3rem;
    font-size: 2rem;
}
#números {
    margin-top: 6rem ;
}
button {
    width: 5rem;
    font-size: 10px;
    margin-right: 5px;
}
#milisegundos {
    margin-top: 2px;
    font-size: 10px;
}
