* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
.container,
.linhas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body {
  margin-top: 3rem;
}
.container {
  width: 25rem;
  border: solid rgb(116, 110, 110) 0.2px;
  box-shadow: 0px 10px 23px 0px rgba(0, 0, 0, 0.75);
  background-color: #e7a61a;
  border-radius: 5px;
}
#resultado {
  width: 100%;
  border: none;
  height: 10rem;
  text-align: right;
  padding-right: 8px;
}
.linhas {
  width: 90%;
  flex-direction: row;
  margin-top: 1rem;
}
.linhas > button,
.linhas > input {
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 2.5rem;
}
.linhas > button {
  margin-right: 5px;
  height: 6rem;
  width: 8.5rem;
}
#linha06 {
  margin-bottom: 1rem;
}
