* {
    padding: 0;
    margin: 0;
  }
  body {
    background: dodgerblue;
    font-family: sans-serif
  }
  section {
    background: white;
    width: 40vw;
    margin: auto;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.416);
    margin-top: 8px
  }
  h1 {
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 8px
  }
  #nascimento, #div-sexo, #verificar, #resultado{
   padding: 6px 7px;
  }
  .sex-radio {
      margin-top: 5px;
      margin-right: 5px ;
  }
  button {
      position: relative;
      top: 2vh;
      margin-left: 5px;
      border-radius: 5px;
      border: none;
      background-color: #3D82D4;
      color: white;
      cursor: pointer;
  }
  button:hover {
      background-color: #1e4e88;
  }
  #resultado {
    text-align: center;
    margin-top: 2vh;
  }
  #footer {
    padding: 15px;
    text-align: center;
    color: white;
    font-style: italic;
  }
  @media (max-width: 1024px) {
    section {
      width: 80%
    }
  }